# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files (large)
*.csv
*.parquet
data/*.csv
data/processed/

# Airflow
airflow/logs/*
airflow/plugins/*.py
*.db
airflow/airflow.db

# MinIO
minio_data/

# Postgres
postgres_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
tmp/
temp/
*.tmp

# History
.history/

toiletmapexport_260401_074429.csv
